In [1]:
import pandas as pd
import re
from datetime import datetime
from geopy.geocoders import Nominatim

In [207]:
# read in 1-2023-sworn.xlsx for LAPD

xl_file = pd.ExcelFile("./rosters-raw/1-2023-sworn.xlsx")
lapd_roster = xl_file.parse('Sheet1')[0:][2:-2]
col_names = ['name', 'badge number', 'ethnicity', 'gender', 'area', 'rank', 'year hired']
lapd_roster.columns = col_names

In [3]:
lapd_roster.rename(columns={'badge number':'badge'}, inplace=True)
lapd_roster.rename(columns={'year hired':'hired'}, inplace=True)

In [15]:
from sqlalchemy import create_engine 
# Create an engine instance
engine = create_engine('postgresql://yiv:postgres@localhost/postgres')

In [13]:
lapd_roster.iloc[0:1].to_sql('lapdofficer', con=engine, if_exists='append', index=False)

1

In [363]:
# merge knock shootings on case number probably.
# things needed: victim name, officer responsible, location, date of incident, age and race of victim,
# weapon, outcome, conclusion, url

# clean the victim name
# clean the officer name
# case number 
# geocode the location
# code the date
# bucket/clean the weapon
# bucket/clean the outcome
# bucket the station/assignment? maybe just keep text

knock_shootings = pd.read_csv('knock-raw/knock scrape - shootings.csv')

In [364]:
knock_shootings = knock_shootings.rename(columns={'Name of Victim': "victim", "Officer Responsible - Affiliation": "officer", \
                              "Case Number": "id", "Date of Incident": "date", "Weapon (per LASD)": "weapon", \
                               "Location": "geo", "Age of Victim": "age", "Race of Victim": "race", 
                               "Outcome/Cause of Death": "outcome", "Station/Assignment at Incident": "assignment"})

In [365]:
geolocator = Nominatim(user_agent="crp-ra")

In [366]:
# knock_shootings['geo']
# knock_shootings['assignment']
# add los angeles county, try to geocode
def geo_clean(s):
    return geolocator.geocode(s + ", Los Angeles County")

In [367]:
from geopy.geocoders import GoogleV3

string = 'North Vista Street & Santa Monica Boulevard'

geolocator = GoogleV3(api_key='AIzaSyDOZzW7cyckuHQP9K_xxm-qUSS_E_1AJE0')
address = geolocator.geocode(string)
# there's basically 4 main types:
# actual address - can deal with
# intersection
# block - can deal with: just remove "block of"
# street

In [368]:
def geo_clean(s):
    if "Unknown" not in s:
        return geolocator.geocode(s + ", Los Angeles County")
    else:
        return None
geotemp = knock_shootings['geo'].apply(geo_clean)

In [44]:
# backup the geocodings in case the api key stop working
# geotemp.apply(lambda x: (x.latitude, x.longitude) if x else None).to_csv('knock_geocoded.csv')

In [370]:
knock_shootings['latlng'] = geotemp.apply(lambda x: (x.latitude, x.longitude) if x else None)

In [371]:
# get off numbers, stuff after hyphens (with spaces), stuff in parentheses
# are some of the numbers not in the badge number column of officers? could cross reference
list(knock_shootings['officer'])

# split on "#", " -", "(" and throw out everything after. remove stuff in quotes
def officer_clean(s):
    s = s.split("#")
    s = s[0].split(" -")
    s = (s[0].split("("))[0]
    s = re.sub(r"['\"].*?['\"]", "", s)
    s = s.strip()
    return s
    
# extract badge number
def officer_badge(s):
    num = re.findall(r'#(\d+)', s)
    if num:
        return num[0]
    return ""

knock_shootings['badge'] = knock_shootings['officer'].apply(officer_badge)
knock_shootings['officer'] = knock_shootings['officer'].apply(officer_clean)

In [372]:
# figure out the nan at the end (byram everett, enter manually); otherwise all seems good
def date_clean(s):
    return datetime.strptime(s, "%b %d %Y")
    
knock_shootings["date"] = knock_shootings["date"].apply(date_clean)

In [373]:
# Armed/Unarmed, followed by hyphen. scrape hyphen for armed, drop for unarmed, drop parentheses

# 0: unarmed, 1: armed, 2: unknown

def weapon_clean(s):
    parts = s.split(" - ")
    if parts[0] == "Unknown":
        flag = 2
    elif "Unarmed" in parts[0]:
        flag = 0
    else:
        flag = 1
    if len(parts)>1:
        weapon = parts[1]
        if weapon == "Deputy":
            weapon = ""
        weapon = weapon.split("(")
        weapon = weapon[0]
        weapon.strip()
    else:
        weapon = ""
    return (flag,weapon)

knock_shootings['weapon'] = list(knock_shootings['weapon'].apply(weapon_clean))

In [374]:
# Gunshot (died), Wounded, Non Hit, Non Fatal, drop parentheses and stuff after / (except maybe self-inflicted)
# 0: missed, 1: fatal, 2: wounded
def outcome_clean(s):
    if "Non Hit" in s:
        return 0
    elif s == "Non Fatal" or s == "Wounded":
        return 2
    else:
        return 1

knock_shootings["outcome"] = knock_shootings["outcome"].apply(outcome_clean)

In [375]:
# clean(?) name, gang affiliation/title
# get those badge numbers!
# clean official title
# keep bio as text
# badge numbers is a problem. they probably don't have records going back, but might as well try with FOIA.
knock_gangs = pd.read_csv('knock-raw/knock scrape - gangs.csv')

In [376]:
knock_gangs = knock_gangs.rename(columns= {'Name': 'name',  'Gang Affiliation, Title': 'gang', 
                                           'Case Number(s)': 'cases', 'Deputy/Badge/Serial Number': 'badge',
                                           'Department/Official Title, Assignment': 'assignment', 'Bio':'bio'})

In [377]:
def lax_names(s,t):
    l1 = s.split()
    l2 = t.split()
    return l1[0] == l2[0] and l1[1] == l2[1]

In [378]:
# get rid of aka, stuff in parentheses, stuff in quotes, stuff after a comma unless it's "Jr" or "Sr"
def clean_name(s):
    s = s.split("aka")
    s = s[0]
    s = s.split("(")
    s = s[0]
    s = s.split(",")
    if len(s)>1:
        if "Jr" not in s[1] and "Sr" not in s[1]:
            s = s[0]
        else:
            s = s[0] + s[1]
    else:
        s = s[0]
    s = re.sub(r"['\"].*?['\"]", "", s)
    s = re.sub(r"“.*?”","",s)
    s = ' '.join(s.split())
    s = s.strip()
    return s
    
knock_gangs['name'] = knock_gangs['name'].apply(clean_name)

In [379]:
# just search for the buckets. don't bother with the positions for now
def clean_gang(s):
    gangs = ['Little Devils', 'Executioners', '3000 Boys', '2000 Boys', 'Spartans', 'Banditos', 'Jump Out Boys',
             'Grim Reapers', 'Vikings', 'Regulators', 'Cavemen', 'Cowboys', 'Wayside Whites']
    return [g for g in gangs if g in s]
knock_gangs['gangs'] = knock_gangs['gang'].apply(clean_gang)

In [380]:
# extract numerical only
def clean_gang_badge(s):
    return ''.join(re.findall(r'\d+', str(s)))
knock_gangs['badge'] = knock_gangs['badge'].apply(clean_gang_badge)

In [381]:
def compare_names(s1, s2):
    t1 = s1.split()
    t2 = s2.split()
    return (t1[0].lower() == t2[0].lower()) and (t1[-1].lower() == t2[-1].lower())

In [142]:
# td = pd.merge(knock_gangs[['firstlast', 'badge']], knock_shootings[['firstlast', 'badge']], how='inner', on=['firstlast'])

In [394]:
case_dict = {
    "austre": ("Austreberto Gonzalez v. County of Los Angeles, et al.", "B317794",
              "https://knock-la.com/the-compton-executioners-andres-guardado/"),
    "lockett": ("Sheldon Lockett, et al. v. County of Los Angeles, et al.", "CV 18-05838",
                "https://knock-la.com/the-compton-executioners-andres-guardado/"),
    "taylor": ("Andrew Taylor, et al. v. County of Los Angeles, et al.", "TC028803", ""),
    "quan": ("Al-Quan Jackson v. Leroy Baca, et al.", "CV 12-10393",
             "https://knockla.org/lasd-3000-boys-2000-boys-aclu-lawsuit/"),
    "martinez": ("Estate of Johnny Martinez, et al. v. County of Los Angeles, et al.", "BC579140",
                 "https://knock-la.com/lasd-gang-regulators-shooting-zabala/"),
    "rosas": ("Alex Rosas v. Leroy Baca", "CV 12-00428",
                "https://knock-la.com/lasd-3000-boys-2000-boys-aclu-lawsuit/"),
    "villanueva": ("Alexandro Villanueva v. Los Angeles County Sheriff’s Department", "BC342416", ""),
    "jaimes": ("Angel Jaimes v. County of Los Angeles", "BC331903",
              "https://knock-la.com/lasd-gang-regulators-shooting-zabala/"),
    "hernandez": ("Art Hernandez, et al. v. County of Los Angeles, et al.", "19STCV33158",
                 "https://knock-la.com/banditos-kennedy-hall-brawl-lasd-shot-caller/"),
    "willis": ("Bobby Willis v. Leroy Baca, et al.", "CV 10-06357",
              "https://knock-la.com/lasd-gang-3000-boys-mens-central-jail-abuse/"),
    "vasquez": ("Chris Vasquez, et al. v. County of Los Angeles, et al.", "CV 11-03849", ""),
    "carpenter": ("Christopher Carpenter v. Los Angeles County Sheriff’s Department", "CSC 13-443", ""),
    "gray": ("Christopher Gray v. County of Los Angeles, et al.", "CV 13-07597", 
            "https://knock-la.com/banditos-kennedy-hall-brawl-lasd-shot-caller/"),
    "crawford": ("Crawford v. Block, et al.", "2:90-cv-02649-TJH",
                "https://knock-la.com/lasd-gangs-little-devils-wayside-whities-cavemen-vikings/"),
    "thomas": ("Darren Thomas, et al. v. County of Los Angeles, et al. Law Enforcement", "CV 90-05217",
              "https://knock-la.com/lynwood-vikings-darren-thomas-class-action/"),
    "cabrales": ("Estate of Arturo Cabrales, et al. v. County of Los Angeles", "CV 13-01370",
                "https://knock-la.com/grim-reapers-jump-out-boys-lasd-gangs/"),
    "tutt": ("Evans Tutt v. County of Los Angeles, et al.", "CV 11-06126",
            "https://knock-la.com/lasd-gang-3000-boys-mens-central-jail-abuse/"),
    "lopez": ("Guadalupe Lopez v. County of Los Angeles", "BC540387; BC588302",
             "https://knock-la.com/banditos-lasd-gang-sexual-harassment/"),
    "jones": ("Helen Jones, et al. v. County of Los Angeles, et al.", "BC431634",
             "https://knock-la.com/bruce-phillips-john-horton-hit-run/"),
    "rodriguez": ("Heriberto Rodriguez, et al. v. County of Los Angeles, et al.", "CV 10-06342",
                 "https://knock-la.com/lasd-gang-3000-boys-mens-central-jail-abuse/"),
    "lanska": ("Jason Lanska v. Los Angeles County Sheriff’s Department", "CSC 13-090",
              "https://knock-la.com/grim-reapers-jump-out-boys-lasd-gangs/"),
    "snyder": ("Jason Snyder, et al. v. Paul Tanaka, et al.", "CV 13-02546",
              "https://knock-la.com/lasd-gang-3000-boys-mens-central-jail-abuse/"),
    "roble": ("Jorge Enrique Serrano Robles Senior et al. v. County of Los Angeles, et al.", 
              "2:20-CV-06648-ODW-PLA", ""),
    "k.l.": ("K.L., a minor, et al. v. County Los Angeles, et al.", "CV 18-04910; 2:2018cv04910", ""),
    "rivera": ("Kenneth Rivera IV, et al. v. County of Los Angeles, et al.", "CV 13-3806",
              "https://knock-la.com/lasd-gang-regulators-shooting-zabala/"),
    "vargas": ("Lisa Vargas v. County of Los Angeles, et al.", "CV 19-03279",
              "https://knock-la.com/east-la-sheriff-gang-banditos-anthony-vargas/"),
    "moffett": ("Mark Moffett v. County of Los Angeles, et al.", "BC445403",
               "https://knock-la.com/paul-tanaka-lasd-whistleblowing-vikings/"),
    "holguin": ("Michael Holguin v. County of Los Angeles", "CV 10-08011",
               "https://knock-la.com/lasd-gang-3000-boys-mens-central-jail-abuse/"),
    "rathbun": ("Michael Rathbun, James Sexton v. County of Los Angeles", "BC526951; CV 13-02863",
               "https://knock-la.com/lasd-3000-boys-2000-boys-aclu-lawsuit/"),
    "n.g.": ("N.G. and L.G v. County of LA", "CV 13-08312", ""),
    "laffitte": ("Rodonna Laffitte, et al. v. County of Los Angeles, et al.", "BC526786", ""),
    "brock": ("Ronald Brock v. LA County", "BC572875",
             "https://knock-la.com/lasd-3000-boys-2000-boys-aclu-lawsuit/"),
    "sung lee": ("Sung Lee et al., v. Daniel McLeod", "CV 8802067", ""),
    "usa": ("USA v. Gonzalez", "CR 13-0574", ""),
    "boone": ("Velton Boone v. Lee Baca, et al.", "CV 10-03418",
             "https://knock-la.com/lasd-gang-3000-boys-mens-central-jail-abuse/"),
    "tillman": ("William Tillman v. Leroy Baca, et al.", "BC471749",
               "https://knock-la.com/lasd-3000-boys-2000-boys-aclu-lawsuit/"),
    "baraias": ("Consuelo Baraias, et al. v. County of Los Angeles, et al.", "BC644126", ""),
    "anderson": ("Timothy Anderson v. Los Angeles County Sheriff’s Department", "BC094524", ""),
    "carrillo": ("Francisco Carrillo Jr. v. County of Los Angeles", "CV 11-10310",
                "https://knock-la.com/lasd-franky-castillo-trial-settlement-donald-sarpy/")
}

In [428]:
def clean_age(a):
    try:
        r = int(a)
        return a
    except:
        return None

knock_shootings['age'] = knock_shootings['age'].apply(clean_age)

In [ ]:
# no comparison statistics bc you don't know the sampling bias
# just like: top multiple offenders, gangs they belong to, top gang offenders
# filter heatmap by gang
# toggle map between division/rd
# profiles for each gang, each officer (ids are annoying)

# big questions: does every shooting officer appear in the gangs? i'd expect not
# does every gang officer appear in a shooting? i'd expect maybe

In [384]:
def extract_cases(s):
    s=str(s)
    r = []
    keys = case_dict.keys()
    for k in keys:
        if k in s.lower():
            r += [k]
    return r
knock_gangs['caselist'] = knock_gangs['cases'].apply(extract_cases)

In [386]:
gangs = ['Little Devils', 'Executioners', '3000 Boys', '2000 Boys', 'Spartans', 'Banditos', 'Jump Out Boys',
             'Grim Reapers', 'Vikings', 'Regulators', 'Cavemen', 'Cowboys', 'Wayside Whites']
gangs = pd.DataFrame(gangs, columns=['name'])

In [395]:
c = []
for k in case_dict.keys():
    c += [[k, case_dict[k][0],case_dict[k][1],case_dict[k][2]]]
cases = pd.DataFrame(c, columns=['id', 'title', 'code', 'url'])

In [399]:
knock_gangs['officer'] = knock_gangs['name']

In [401]:
# databases inserts. write these all to static files for convenience
# gang member: officer*, badge, assignment, bio
knock_gangs[['officer', 'badge', 'assignment', 'bio']].to_csv('gangmemberdb.csv')
# shooting: victim*, officer, date, age, weapon, outcome, assignment, latlng, id
knock_shootings[['officer', 'date', 'age', 'weapon', 'outcome', 'assignment', 'latlng', 'id']].to_csv('shooting.csv')
# cases: id*, title, code, url
cases.to_csv('case.csv')
# gangs: name*
gangs.to_csv('gang.csv')
# officergangs: officer*, gang
knock_gangs[['officer', 'gangs']].to_csv('officergang.csv')
# officercases: officer*, case 
knock_gangs[['officer', 'caselist']].to_csv('officercase.csv')

In [402]:
gang_insert = knock_gangs[['officer', 'badge', 'bio']]

In [403]:
gang_insert['badge'] = gang_insert['badge'].apply(lambda x: int(x) if x else None)

/var/folders/x7/9mrkns_s205d2mrjhl8k8tlh0000gn/T/ipykernel_82280/3820771248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gang_insert['badge'] = gang_insert['badge'].apply(lambda x: int(x) if x else None)

In [429]:
shooting_insert = knock_shootings[['officer', 'victim', 'date', 'age', 'weapon', 'outcome',  'id']]

In [430]:
shooting_insert['lat'] = knock_shootings['latlng'].apply(lambda x: x[0] if x else None)
shooting_insert['lng'] = knock_shootings['latlng'].apply(lambda x: x[1] if x else None)

/var/folders/x7/9mrkns_s205d2mrjhl8k8tlh0000gn/T/ipykernel_82280/3056582067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shooting_insert['lat'] = knock_shootings['latlng'].apply(lambda x: x[0] if x else None)
/var/folders/x7/9mrkns_s205d2mrjhl8k8tlh0000gn/T/ipykernel_82280/3056582067.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shooting_insert['lng'] = knock_shootings['latlng'].apply(lambda x: x[1] if x else None)

In [296]:
from sqlalchemy import create_engine 
# Create an engine instance
engine = create_engine('postgresql://yiv:postgres@localhost/postgres')

In [465]:
gang_insert.to_sql('gangmember', con=engine, if_exists='append', index=False)

363

In [466]:
shooting_insert.to_sql('shooting', con=engine, if_exists='append', index=False)

916

In [467]:
cases.to_sql('case', con=engine, if_exists='append', index=False)

39

In [468]:
gangs.to_sql('gang', con=engine, if_exists='append', index=False)

13

In [458]:
# officer gang, officer case
# expand each in to a table with one row per officer, other pairing
officercase = knock_gangs[['officer', 'caselist']].explode('caselist').dropna()

In [459]:
officergang = knock_gangs[['officer', 'gangs']].explode('gangs').dropna()

In [461]:
officercase['case'] = officercase['caselist']
officergang['gang'] = officergang['gangs']

In [469]:
officercase[['officer', 'case']].to_sql('officercase', con=engine, if_exists='append', index=False)

401

In [470]:
officergang[['officer', 'gang']].to_sql('officergang', con=engine, if_exists='append', index=False)

422

,victim,officer,id,geo,date,age,race,weapon,outcome,assignment,latlng,badge
0,Glenn Joseph Gorio,David M. Furmanski,SH2569401,Mulholland Highway near Trancas Lakes,1984-10-26,26,White,"(1, Gun)",1,Special Enforcement Bureau,"(34.1086311, -118.7660445)",
1,Larry Crookshanks (sergeant),Cecil Rhambo,SH0000001,156th Street,1987-11-13,29,White,"(1, )",2,Lynwood,"(33.8892144, -118.3228041)",
2,Hong Pyo Lee,Paul Tanaka,Unknown,2500 block of Thompson Street,1988-03-08,21,Asian,"(0, )",1,Lynwood,"(34.3871821, -118.1122679)",
3,Enrique Ricardo Gonzalez,Robert Thacker,SH2422335,8012 Pacific Avenue,1988-10-28,27,Latino,"(1, Gun)",1,Firestone,"(33.957252, -118.448591)",
4,Anthony Ward (deputy),Cecil Rhambo,SH0000002,200 block of 92nd Street,1988-12-20,27,Black,"(1, )",2,Narcotics Bureau,"(33.9525624, -118.2761258)",
...,...,...,...,...,...,...,...,...,...,...,...,...
911,Christopher Lee Mercurio,Lorena Gonzalez,023-00463-0608-013,24000 block of Valencia Boulevard,2023-01-11,50,White,"(0, )",1,Santa Clarita,"(34.4127462, -118.5547791)",
912,Charles Towns,Eliezer Morales,023-00208-0772-013,2100 Block of El Sereno,2023-01-22,47,Black,"(1, Scissors)",1,Altadena,"(34.0860517, -118.1782728)",
913,Miguel Lopez,Edward Martinez,023-01205-0250-013,6100 block of Clarkson Avenue,2023-01-26,70,Latino,"(1, Gun)",1,Operation Safe Streets Bureau,"(33.9834787, -118.1870573)",
914,Mario Bustillos,Edwin Barajas,023-01400-2873-055,15200 block of South Stanford Avenue,2023-01-31,36,Unknown,"(1, Gun)",2,Operation Safe Streets Bureau,"(33.8937976, -118.2601603)",
915,Byram Everett,Blake Runge,023-02034-2608-013,37500 block of Oxford Drive,2023-02-10,None,Unknown,"(1, Sword)",1,Palmdale,"(34.3871821, -118.1122679)",

In [10]:
import pandas as pd

gang_insert = pd.read_csv('gangmemberdb.csv')[['officer', 'badge', 'bio']]
# gang_insert['badge'] = gang_insert['badge'].apply(lambda x: int(x) if x != NaN else None)

shooting_insert = pd.read_csv('shooting.csv')[['officer', 'victim', 'date', 'age', 'weapon', 'outcome',  'id']]
shooting_insert['lat'] = shooting_insert['latlng'].apply(lambda x: x[0] if x else None)
shooting_insert['lng'] = shooting_insert['latlng'].apply(lambda x: x[1] if x else None)

case_insert = pd.read_csv('case.csv')

gang_insert = pd.read_csv('gang.csv')

officercase = pd.read_csv('officercase.csv').explode('caselist').dropna()
officercase['case'] = officercase['caselist']


officergang = pd.read_csv('officergang.csv').explode('gangs').dropna()
officergang['gang'] = officergang['gangs']

TypeError: 'float' object is not subscriptable

In [13]:
pd.read_csv('shooting.csv')

,Unnamed: 0,officer,date,age,weapon,outcome,assignment,latlng,id
0,0,David M. Furmanski,1984-10-26,26,"(1, 'Gun')",1,Special Enforcement Bureau,"(34.1086311, -118.7660445)",SH2569401
1,1,Cecil Rhambo,1987-11-13,29,"(1, '')",2,Lynwood,"(33.8892144, -118.3228041)",SH0000001
2,2,Paul Tanaka,1988-03-08,21,"(0, '')",1,Lynwood,"(34.3871821, -118.1122679)",Unknown
3,3,Robert Thacker,1988-10-28,27,"(1, 'Gun')",1,Firestone,"(33.957252, -118.448591)",SH2422335
4,4,Cecil Rhambo,1988-12-20,27,"(1, '')",2,Narcotics Bureau,"(33.9525624, -118.2761258)",SH0000002
...,...,...,...,...,...,...,...,...,...
911,911,Lorena Gonzalez,2023-01-11,50,"(0, '')",1,Santa Clarita,"(34.4127462, -118.5547791)",023-00463-0608-013
912,912,Eliezer Morales,2023-01-22,47,"(1, 'Scissors')",1,Altadena,"(34.0860517, -118.1782728)",023-00208-0772-013
913,913,Edward Martinez,2023-01-26,70,"(1, 'Gun')",1,Operation Safe Streets Bureau,"(33.9834787, -118.1870573)",023-01205-0250-013
914,914,Edwin Barajas,2023-01-31,36,"(1, 'Gun')",2,Operation Safe Streets Bureau,"(33.8937976, -118.2601603)",023-01400-2873-055
915,915,Blake Runge,2023-02-10,NaN,"(1, 'Sword')",1,Palmdale,"(34.3871821, -118.1122679)",023-02034-2608-013